<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<style type="text/css">
		li {
			display: block
		}
		#pic {
			display: inline
		}
	</style>
</head>
<body>
	<div>
		<% if current_user %>
		<h1>Welcome <%= current_user.name %>!</h1>
		<% else %>
		<h1>Hey there, stranger!</h1>
		<% end %>
		<% if !current_user %>
		<%= link_to('Create Account', new_user_path) %>
		<%= link_to('Log In', logging_in_path) %>
		<% end %>
		<% if current_user %>
		<%= link_to('My Cart', check_cart_path) %>
		<%= link_to('My Inventory', inventory_path) %>
		<% end %>
	</div>
	<div style="display: inline-block; height: 400px; width: 135px;">
		<h2>Filter</h2>
		<h4>Choose a minimum price: </h4>
		<%= form_tag(min_price_filter_path) do -%>
			<%= csrf_meta_tag %>
			<p> <%= label_tag 'price', 'price' %> </p>
			<p> <%= text_field_tag 'price' %> </p>
			<p> <%= submit_tag 'Find' %> </p>
		<% end %>
		<h4>Choose a maximum price: </h4>
		<%= form_tag(max_price_filter_path) do -%>
			<%= csrf_meta_tag %>
			<p> <%= label_tag 'price', 'price' %> </p>
			<p> <%= text_field_tag 'price' %> </p>
			<p> <%= submit_tag 'Find' %> </p>
		<% end %>
	</div>
	<ul style="display: inline-block; vertical-align: top; width: 1270px;padding-left:0px">
		<% @products.each do |p| %>
			<li style="display: inline; height: 200px;">
				<ul style="list-style: none; display: inline-block; width:150px;">
					<div style="display: inline-block; height:100px;">
						<li>
							<h3>
								<%= link_to product_path(p.id) do %>
								<%= p.name %>
								<% end %>
							</h3>
						</li>
						<li>
							<%= p.desc %>
						</li>
						<li>
							$<%= number_with_precision(p.price / 100, :precision => 2, :delimiter => ',') %>
						</li>
						<li>
							<%= link_to user_path(p.user.id) do %>
							<em><%= p.user.name %></em>
							<% end %>
						</li>
					</div>
				</ul>
				<div id="pic" style="display: inline; zoom: 80%">
					<%= image_tag(p.photo, height:150, width:150) %>
				</div>
			</li>
		<% end %>
	</ul>
</body>
</html>