<p> <%= link_to('My Cart', check_cart_path) %> </p>
<p> <%= link_to('Back to Products', root_path) %> </p>
<p> <%= link_to('New Product', new_product_path) %> </p>
<ul style="display: inline-block; vertical-align: top;">
	<% @products.each do |p| %>
		<li style="display: inline; height: 200px;">
			<ul style="list-style: none; display: inline-block; width:150px;">
				<div style="display: inline-block; height:100px;">
					<li>
						<h3>
							<%= link_to product_path(p.id) do %>
							<%= p.name %>
							<% end %>
						</h3>
					</li>
					<li>
						<%= p.desc %>
					</li>
					<li>
						$<%= number_with_precision(p.price / 100, :precision => 2, :delimiter => ',') %>
					</li>
					<li>
						<%= link_to user_path(p.user.id) do %>
						<em><%= p.user.name %></em>
						<% end %>
					</li>
				</div>
			</ul>
			<div id="pic" style="display: inline; zoom: 80%">
				<%= image_tag(p.photo, height:150, width:150) %>
			</div>
		</li>
	<% end %>
</ul>