<h1>Thanks for submitting this form! You have submitted this form <%= @count %> times now</h1>
<h3>Submitted Information</h3>
<p>Name: <%= @user[:name] %> </p>
<p>Dojo location: <%= @user[:location] %> </p>
<p>Favorite language: <%= @user[:language] %> </p>
<p>Comment: <%= @user[:comment] %> </p>
<a href="/"><button>Go back</button></a>