<h1>New Product</h1>

<%= form_for @product, :html => { :multipart => true } do |f| %>

	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:
			</h2>
			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :desc, 'Description' %>
	<%= f.text_area :desc, :rows => 5 %>

	<%= f.label :price %>
	<%= f.text_field :price %>

	<%= f.hidden_field :user, :value => current_user.id %>

	<%= f.file_field :photo %>

	<%= f.button("Add Product") %>

<% end %>