<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<p><%= e %></p>
		<% end %>
	<% end %>
	<% if current_user %>
		<!-- <form action='/sessions' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Log Out'>
		</form> -->
		<%= form_tag(logging_out_path, method: :delete) do -%>
			<%= csrf_meta_tag %>
			<p> <%= submit_tag 'Log Out' %> </p>
		<% end -%>
	<% end %>
    <%= yield %>
  </body>
</html>
