<h1>Register</h1>
<p>
<%= form_for @user do |f| %>

<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
		</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :alias %>
<%= f.text_field :alias %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :confirmation %>
<%= f.password_field :confirmation %>

<%= f.button("Register") %>

<% end %>
</p>
<h1>Login</h1>
<form action="/login" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label for="email">Email</label>
	<input id="email" type="email" name="email">
	<label for="password">Password</label>
	<input type="password" name="password">
	<input type="submit" value="Log In">
</form>