<p> <%= link_to('My Cart', check_cart_path) %> </p>
<p> <%= link_to('Back to Products', root_path) %> </p>
<h1>New Product</h1>

<%= form_for @product, :html => { :multipart => true } do |f| %>

	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:
			</h2>
			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<p>
	<%= f.label :name %>
</p>
<p>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :desc, 'Description' %>
</p>
<p>
	<%= f.text_area :desc, :rows => 5 %>
</p>
<p>
	<%= f.label :price %>
</p>
<p>
	<%= f.text_field :price %>
</p>
<p>
	<%= f.hidden_field :user, :value => current_user.id %>
</p>
<p>
	<%= f.file_field :photo %>
</p>
<p>
	<%= f.button("Add Product") %>
</p>

<% end %>